@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'FiraCode', 'Roboto';
  }
  .container {
    max-width: 960px;
  }
  
  html, body {
    width: 100%;
    height: 100%;
}
  body {
    background-image: linear-gradient(to left, rgba(255, 0, 149, 0.2), rgba(0, 247, 255, 0.2)), url(./img/banner2.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}



.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}

  div.logoeffect {
    background: 50% 100% / 50% 50% no-repeat
      radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    margin-left: 2rem;
    font-family: 'Roboto', sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
  }  
  
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
  @keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }

  #footer {
    width: 100%;
    color: white;
    float: left;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 1em 2.5em;
    z-index: 11;
    transition: all .1s ease-out;
    /* background-color: blue; */
}

#footer:hover {
    background-color: rgba(255,255,255,.5);
    color: #464646;
}

@media screen and (max-height: 650px) and (min-width: 1110px)
{
    #footer {
        background-color: rgba(255,255,255,.5);
        color: #464646;
    }
}
@media screen and (max-width: 1120px) {
  #footer {
    background-color: rgba(255,255,255,.5);
    color: #464646;
}
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a:hover {
    color: rgb(0, 81, 255);
}

